html {
  width: 100%;
  border: 0;
}

body {
  width: 100%;
  border: 0;
  font-family: sans-serif;
}

data {
  display: none;
}

.start-hidden {
  display: none;
}

#chartpicker {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#chartpicker li {
  float: left;
  padding-right: 10px;
  /* background-color: pink; */
}

#chartpicker li.active {
  background-color: #777777;
  color: white;
}

#chartpicker li a {
  color: blue;
  text-decoration: none;
  padding: 15px;
}
#chartpicker li a.active {
  color: white;
}
#chartpicker li a:hover {
  text-decoration: none;
  color: white;
  background: black;
}
